<nav class="container text-end p-5">
    <a class="btn btn-success" href="/login" role="button">Inicia Sesión</a>
    <a class="btn btn-success" href="/signup" role="button">Regístrate</a>
    <form class="p-5" action="search" method="post">
        <input type="text" name="title" id="title">
        <input class="btn btn-secondary" type="submit" value="buscar">
    </form>
</nav>